<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sma_3_2_developers">

    <!-- Permisos requeridos -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:label="sma_3_2_developers"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        
        <!-- Configuración de la actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Tema de la aplicación antes de que Flutter inicie -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Configuración del intent principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- No eliminar esta meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Configuración de FFmpegKit si es necesaria -->
        <meta-data
            android:name="com.arthenica.ffmpegkit.APPLICATION_LICENSE"
            android:value=""/> 
        
        <!-- Configuración de ffmpeg -->
        <meta-data
            android:name="com.arthenica.ffmpegkit"
            android:value="true"/>

    </application>

    <!-- Definir consultas para acciones específicas en Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
